<!DOCTYPE html>
<html>
<header></header><!-- /header -->
  <div class="container"> <!-- ここを追加 -->
      <div class="row">   <!-- ここを追加 -->
      	 <div class="col-xs-3">
<%= render'books/list',books:@book %>
</div>
<div class="col-xs-9">
<table class="table table-striped">
<ul><% @users.each do |user| %>
  <li>
    <%= link_to user.name %>
    <%= user.created_at %>
  </li>
  <%= link_to "編集",edit_user_path(user) %>
  <%= link_to "削除",user, method: :delete %>
  <% end %>
</ul>
</table>
</div>
</div>
</div>
