<!DOCTYPE html>
<html>



<div class="container"> <!-- ここを追加 -->
      <div class="row">   <!-- ここを追加 -->
      	 <div class="col-xs-3">
<%= render'books/list',books:@book %>
</div>
<div class="col-xs-9">


<body>
 <% if flash[:notice] %>
  <p id="notice"><%= flash[:notice] %></p>
  <% end %>
</html>
<h2>Book detail</h2>

<table lass="table table-striped">
	<thead >
		<tr>
			<th>Image</th>
			<th>name</th>
			<th>title</th>
			<th>body</th>
			<th colspan="2"></th>
		</tr>
	</thead>
	<tbody>
		<tr>
<td><%= link_to user_path(@user) do %>
	<%= attachment_image_tag @user, :profile_image, size: '100x100', format: 'jpeg', fallback: "no_image.jpg" %>
		<% end %>
	</td>
<td><%= link_to user_path(@user) do %>
	<%= @user.name  %>
		<% end %>
	</td>

<td><%= @book1.title %></td>

<td><%= @book1.body %></td>
<% if current_user == @user %>
<td><%= link_to "Edit",edit_book_path(@book1.id) %></td>
<td><%= link_to "Destroy", book_path(@book1.id), method: :delete, "data-confirm" => "Are you sure？",style:"color:black"%></td>
<% end %>
</tr>
</tbody>
</table>


</div>
</div>
</div>

</body>